##### Raspberry Pi Specific
adafruit-circuitpython-motorkit
picamera

##### Generic Python
# opencv-python # If this fails on the pi: sudo apt install python3-opencv
imutils
pylint
AWSIoTPythonSDK
boto3
Pillow